<!-- YouTube Video Player-->
<div class="embed-responsive embed-responsive-16by9">
    <youtube-video class="embed-responsive-item" video-url="video.url"></youtube-video>
</div>

<!-- Video Controls -->
<div class="vili-controls-under-video">
    <button type="button" class="btn btn-default vili-float-left" ng-click="like()">
        <i class="fa fa-heart-o vili-glyphicon-color" aria-hidden="true"></i>
        LIKE
    </button>
    <button type="button" class="btn btn-default vili-float-left" ng-click="share()">
        <i class="fa fa-share-alt vili-glyphicon-color" aria-hidden="true"></i>
        SHARE
    </button>
    <button type="button" class="btn btn-primary vili-float-right vili-delete-button" ng-click="delete()">DELETE</button>
    <button type="button" class="btn btn-primary vili-float-right vili-edit-button " ng-click="edit()">EDIT</button>
</div>
